@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;700;800&display=swap');
*{ 
    margin: 0;
    padding: 0;
}
body{ 
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: #f8fafc;
    position: relative;
    font-family: 'Mulish', sans-serif;
}
img{ 
    width: 100%;
    position: absolute;
    bottom: 0;
}
.container{ 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    width: 444px;
    height: fit-content; 
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile{ 
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #333333;
    width: 444px;
    height: 537px;
    background-color: white;
    box-shadow: 2px 2px 5px 0px grey;

}
button{ 
    width: 352px;
    height: 55.8px; 
    background: linear-gradient(180deg, #625BF7 0%, #463EEA 100%);
    border: none;
    border-radius: 6px;
    font-size: 18px;
    margin-top: 5px;
    color: white;
    cursor: pointer;
    font-weight: 800;
}
h1{ 
    font-weight: 700;
    color: #625BF7;

    margin-bottom: 20px;
}
.h3{ 
    font-weight: 700; 
    color: #333333;
    margin-bottom: 20px;
    font-size: 24px;
}
svg{ 
    margin-bottom: 10px;
    margin-top: 10px; 
}
.data{ 
    font-weight: 400;
    font-size: 18px;
    padding: 10px;
}

